
<div class="container">
    <div class="row">
        <div class="col-4" ></div>
        <div class="col-4 main">

             <h5>Register Form</h5>
             
             <input type="text" id="acno"   [(ngModel)]="uname" placeholder="enter user name"><br>
            <input type="text" id="acno"   [(ngModel)]="acno" placeholder="enter account number"><br>
            <input type="text" id="pwd"    [(ngModel)]="pswd"   placeholder="enter password"><br>
            
            <button class="btn btn-success" (click)="register()">Create New Account</button>


        </div>
        <div class="col-4"></div>
    </div>
</div>
