
<div class="container">
    <div class="row">
        <div class="col-4" ></div>
        <div class="col-4 main">

             <h5>Register Form</h5>
        <form (ngSubmit)="register()">
   
             <input type="text" id="acno"name="uname" [(ngModel)]="uname" placeholder="enter user name"><br>
            <input type="text" id="acno" name="acno"  [(ngModel)]="acno" placeholder="enter account number"><br>
            <input type="text" id="pwd"  name="pswd" [(ngModel)]="pswd"   placeholder="enter password"><br>
            
            <input type="submit" class="btn btn-success" value="Register"><br>
            <a routerLink="">Log In</a>

         </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
