
<div class="container">
    <div class="row">
        <div class="col-4" ></div>
        <div class="col-4 main">

             <h5>Register Form</h5>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
   
            <input type="text" id="acno"name="uname" formControlName="uname" placeholder="enter user name"><br>
            <div *ngIf="(registerForm.get('uname')?.touched || registerForm.get('uname')?.dirty) && registerForm.get('uname')?.errors" class="error">Invalid Username</div>

            <input type="text" id="acno" name="acno"  formControlName="acno" placeholder="enter account number"><br>
            <div *ngIf="(registerForm.get('acno')?.touched || registerForm.get('acno')?.dirty) && registerForm.get('acno')?.errors" class="error">invalid account number</div>

            <input type="password" id="pwd"  name="pswd" formControlName="pswd"   placeholder="enter password"><br>
            <div *ngIf="(registerForm.get('pswd')?.touched || registerForm.get('pswd')?.dirty) && registerForm.get('pswd')?.errors" class="error">invalid password</div>

            <input type="submit" class="btn btn-success" value="Register"><br>
            <a routerLink="">Log In</a>

         </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
