.bgcol {
    background-color: #5e068a;
    color: white;
    /* text-align: center; */
    font-size: 13px;
}

.first1 {
    position: absolute;
    top: 6px;
    left: 54px;

}

.second2 {
    position: relative;
    top: 6px;
    left: 90px;

}

.secrow {
    position: absolute;
    top: 5px;
    right: 40px;
}

.img {
    position: absolute;
    top: -2px;
    left: 50px;
    height: 65px;
    width: 250px;
}
