

    <div class="row">


        <div class="col-4 bgcol">
            <!-- <div class="col-lg-7 col-md-6 col-12 bgcol"> -->

            <p class="first1">Have any question? &nbsp; +91 8891 242 000</p>

        </div>

        <!-- <div class="col-lg-2 col-md-0 col-12 bgcol"></div> -->

        <div class="col-4 bgcol "></div>
        <div class="col-4 bgcol">
            <!-- <div class="col-lg-5 col-md-6 col-12 bgcol"> -->
            <p class="second2">+91 8891 242 000, &nbsp; &nbsp; contact@bankofindia.com</p>
        </div>

    </div>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="img" src="assets/boi1.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <div class="secrow">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><b>HOME</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><b>ABOUT</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><b>SERVICES</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><b>OUR POLICIES</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><b>GALLERY</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><b>CONTACT</b></a>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</nav>





<div class="container">
    <!-- <h1>Bank Application</h1> -->


    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
       
        <div class="main">
             <h5>{{aim}}</h5>

            <!-- <input type="text" id="acno" [value]="accnum"  #accno placeholder="enter account number"><br>
            <input type="text" id="pwd"  #pswd placeholder="enter password">
            <button class="btn btn-success" (click)="login(accno,pswd)">login</button><br><br>
            <input  type="button" class="btn btn-success" value="Create New Account"> -->
          
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                       
            <input type="text" id="acno" name="acno"  formControlName="acno" placeholder="enter account number"><br>
            <div *ngIf="(loginForm.get('acno')?.touched || loginForm.get('acno')?.dirty) && loginForm.get('acno')?.errors" class="error">invalid account number</div>

            <input type="password" id="pwd" name="pswd" formControlName="pswd"   placeholder="enter password"><br>
            <div *ngIf="(loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty) && loginForm.get('pswd')?.errors" class="error">invalid password</div>

           
            <input type="submit" value="Log In" class="btn btn-success" ><br><br>
             <div>
              <p> new user? </p>
             </div>  
            <button class="btn btn-success" (click)="register()">Create New Account</button>
        </form>
        </div>

        </div>
        <div class="col-4"></div>
    </div>
</div>
