
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
       
        <div class="main">
             <h5>{{aim}}</h5>

            <!-- <input type="text" id="acno" [value]="accnum"  #accno placeholder="enter account number"><br>
            <input type="text" id="pwd"  #pswd placeholder="enter password">
            <button class="btn btn-success" (click)="login(accno,pswd)">login</button><br><br>
            <input  type="button" class="btn btn-success" value="Create New Account"> -->
          
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                       
            <input type="text" id="acno" name="acno"  formControlName="acno" placeholder="enter account number"><br>
            <div *ngIf="(loginForm.get('acno')?.touched || loginForm.get('acno')?.dirty) && loginForm.get('acno')?.errors" class="error">invalid account number</div>

            <input type="password" id="pwd" name="pswd" formControlName="pswd"   placeholder="enter password"><br>
            <div *ngIf="(loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty) && loginForm.get('pswd')?.errors" class="error">invalid password</div>

           
            <input type="submit" value="Log In" class="btn btn-success" ><br>
             <div>
              <p> new user? </p>
             </div>  
            <button class="btn btn-success" (click)="register()">Create New Account</button>
        </form>
        </div>

        </div>
        <div class="col-4"></div>
    </div>
</div>
