.bg{
    background-color: cornsilk;
}

.main{
      margin-top: 50px;
       background-color: floralwhite;
      border:2px solid royalblue;
      text-align: center;
}

.error{
      color: crimson;
}    