<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3>Welcome User</h3>

            <div class="main">

                <h5>Cash Deposit</h5>

                <input type="text" id="acno" [(ngModel)]="acno" placeholder="enter account number"><br>
                <input type="text" id="pwd" [(ngModel)]="pswd" placeholder="enter password"><br>
                <input type="text" id="amt" [(ngModel)]="amt" placeholder="enter Amount"><br>

                <button class="btn btn-success" (click)="deposit()">Deposit</button><br>
                <div>
                </div>

            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">

                <h5>Cash Withdrawal</h5>


                <input type="text" id="acno1" [(ngModel)]="acno1" placeholder="enter account number"><br>
                <input type="text" id="pwd1" [(ngModel)]="pswd1" placeholder="enter password"><br>
                <input type="text" id="amt1" [(ngModel)]="amt1" placeholder="enter Amount"><br>

                <button class="btn btn-success" (click)="withdrawal()">Withdrawal</button><br>
                <div>
                </div>

            </div>
            <div class="col-4"></div>
        </div>

    </div>


</div>