<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3>Welcome User</h3>

            <div class="main">

                <h5>Deposit Form</h5>
             <form (ngSubmit)="deposit()">
                <input type="text" id="acno" name="acno" [(ngModel)]="dAcno" placeholder="enter account number"><br>
                <input type="text" id="pwd" name="pswd" [(ngModel)]="dPswd" placeholder="enter password"><br>
                <input type="text" id="amt" name="amt" [(ngModel)]="dAmt" placeholder="enter Amount"><br>

                <input type="submit" class="btn btn-success" value="Deposit"><br>
                
            </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">

                <h5> Withdraw Form</h5>

                <form (ngSubmit)="withdrawal()">

                <input type="text" id="acno1"  name="acno" [(ngModel)]="wAcno" placeholder="enter account number"><br>
                <input type="text" id="pwd1" name="pswd" [(ngModel)]="wPswd" placeholder="enter password"><br>
                <input type="text" id="amt1"name="amt" [(ngModel)]="wAmt" placeholder="enter Amount"><br>

                <input type="submit" class="btn btn-success" value="Withdrawal"><br>
                           
            </form>

            </div>
            <div class="col-4"></div>
        </div>

    </div>


</div>